*{
    margin: 0px;
    padding: 0px;
    font-family: "Source Serif Pro", sans-serif;
}

html, body{
    height: fit-content;
    overflow-x: hidden;
    overflow-y: hidden;
}
html{
    overflow-y: auto;
}
.mid{
    height:fit-content;
}

.box{
    height: 100%;
 
    display: flex;
}
.menubalk{
float: left;
max-width: 200px;
min-width: 150px;
height: auto;
}

.contentbalk{
float: left;
flex: 1;
height: 100%;
}

.topL,
.topR{
    min-height: 100px;
    max-height: 250px;
}

.topR{
    background:#ad050a;
}

.menu{
    background-color: #ad050a;
    height: 100%;
    width: 100%;
    overflow-y: visible;
}
.bottom{
    height: 10px;
}
div.menu ul{
    width: 80%;
    height: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    list-style: none;
    text-align: center;
}
div.menu ul li {
    width: 100%;
    padding-bottom: 40%;
 
}
div.menu ul li a div{
    /* background-color: #fdfa82; */
    padding-bottom: 10%;
    padding-top: 10%;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
}
.index div,
.Navigatie div{
    background-color: #fdfa82;
}
.cv div{
    background-color: #fcf843;
}
.hobbies div{
    background-color: #fbf404;
}
.ervaring div{
    background-color: #bcb822;
}
.contact div{
    background-color: #7d7a02;
}

div.menu ul li a{
    text-decoration: none;
    color: black;
}

div.menu ul li a div:hover{
    background-color: black;
    color: aliceblue;
}

.contentboxL{
    height: 70vh;
    width: 95%;
    border: 20px,solid,black;
    border-style: solid;
    border-radius: 5px;
    background-size: 100%;
    padding: 0%;
    margin-bottom: 60px;
}

.contentboxR{
    height: 70vh;
    width: 95%;
    border: 20px,solid,black;
    border-style: solid;
    border-radius: 5px;
    background-size: 100%;
    margin-bottom: 60px;
    margin-left: 4.5%;
}

.backgroundimg{
    backdrop-filter:  blur(2px);
    height: 100%;
    width: 100%;
}

.paginatittel{
    padding: 20px;
}
div.contentboxL div.foto{
float: left;
width: 35%;
height: 80%;
margin: 5%;
margin-right: 2.5%;
/* background-color: #ad050a; */
text-align: center;
overflow: hidden;
border-radius: 5px;
}
div.contentboxR div.foto{
    float: left;
    width: 35%;
    height: 80%;
    margin: 5%;
    margin-right: 2.5%;
    /* background-color: #ad050a; */
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    }

.frontimg{
    height: 100%;
    border-radius: 5px;
}

div.contentboxL div.tekstblok{
float: left;
width: 50%;
height: 80%;
margin: 5%;
margin-left: 2.5%;
background-color: #ad050a;
border-radius: 5px;
overflow-y: auto;
overflow-x: hidden;
}
div.contentboxR div.tekstblok{
    float: left;
    width: 50%;
    height: 80%;
    margin: 5%;
    margin-left: 2.5%;
    background-color: #ad050a;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    }
/* scrolbars */
::-webkit-scrollbar {
    width: 20px;
    background-color:#ad050a;
  }
::-webkit-scrollbar-track {
    border-radius: 8px;
    border: 2px;
    border-color: black;
    border-style: solid;
    background-color: #ad050a;
  }
/* ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:  #fdfa82;
   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  } */

div.contentboxL div.tekstblok::-webkit-scrollbar,div.contentboxR div.tekstblok::-webkit-scrollbar {
    width: 14px;
    background-color:#ad050a;
    border-radius: 5px;
  }
div.contentboxL div.tekstblok::-webkit-scrollbar-track,div.contentboxR div.tekstblok::-webkit-scrollbar-track {
    border-radius: 5px;
    border: 2px;
    border-color: black;
    border-style: solid;
    background-color: #ad050a;
  }
  /* div.contentboxL div.tekstblok::-webkit-scrollbar-thumb {
   border-radius: 5px;
    background:  #fdfa82;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  } */


.tekstvak{
    width: 80%;
    margin: auto;
    height: 90%;
    margin-top: 5%;
}

h1{
    font-size: 36px;
}
h2,caption{
    padding-bottom: 5px;
    font-weight: bolder;
}
caption{
    font-size: 24px;
}
h3{
    font-style: italic;
    text-decoration: overline;
}
div.tekstvak p{
padding-left: 10px;
padding-bottom: 10px;
}
div.tekstvak ul{
    padding-left: 30px;
    list-style: disc;
}

div.tekstvak ul li{
padding-bottom: 10px;
}

ol{
    padding-left: 30px;
}
ol li{
    padding-top: 10px;
}

li a,p a{
    color: black;
    text-decoration: underline;
    text-decoration-style:dotted ;
}

input, select, textarea{
    border-radius: 5px;
    border: 3px;
    border-style: solid;
    border-color: black;
    color: black;
    background: #7d7a02;
}
::placeholder{
    color: black;
}

input:focus,textarea:focus, select:focus{
    outline: none;
}
textarea{
    width: 70%;
}
input[type="submit"]{
    height: 40px;
    width: 100px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
}
input[type="submit"]:hover{
    background-color: black;
    color: aliceblue;
}

input[type="text"]:focus{
    background: #7d7a02;
}
table,td{
    border: 3px;
    border-color: black;
    border-style: solid;
    padding: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
}
